<settings>
  <setting propertyKey="@Properties.dailyLimit"
           title="Daily Caffeine Limit (mg)">
    <settingConfig type="numeric"
                   min="100"
                   max="1000"/>
  </setting>

  <setting propertyKey="@Properties.bedtimeHour"
           title="Bedtime Hour (0-23)">
    <settingConfig type="numeric"
                   min="0"
                   max="23"/>
  </setting>

  <setting propertyKey="@Properties.bedtimeMinute"
           title="Bedtime Minute (0-59)">
    <settingConfig type="numeric"
                   min="0"
                   max="59"/>
  </setting>

  <setting propertyKey="@Properties.alertLimitWarning"
           title="Warn at 80% of limit">
    <settingConfig type="boolean"/>
  </setting>

  <setting propertyKey="@Properties.alertLimitReached"
           title="Alert when limit reached">
    <settingConfig type="boolean"/>
  </setting>

  <setting propertyKey="@Properties.alertSafeToSleep"
           title="Safe to sleep notification">
    <settingConfig type="boolean"/>
  </setting>

  <setting propertyKey="@Properties.presets"
           title="@Strings.SettingPresetsTitle"
           maxLength="20">
    <setting title="@Strings.SettingPresetName" type="string">
      <settingConfig id="name" type="alphaNumeric"/>
    </setting>
    <setting title="@Strings.SettingPresetMg" type="number">
      <settingConfig id="mg" type="numeric" min="1" max="500"/>
    </setting>
    <defaults>
      <entry>
        <default id="name">Espresso</default>
        <default id="mg">63</default>
      </entry>
      <entry>
        <default id="name">Americano</default>
        <default id="mg">77</default>
      </entry>
      <entry>
        <default id="name">Drip Coffee (S)</default>
        <default id="mg">95</default>
      </entry>
      <entry>
        <default id="name">Drip Coffee (L)</default>
        <default id="mg">190</default>
      </entry>
      <entry>
        <default id="name">Latte</default>
        <default id="mg">63</default>
      </entry>
      <entry>
        <default id="name">Green Tea</default>
        <default id="mg">30</default>
      </entry>
      <entry>
        <default id="name">Black Tea</default>
        <default id="mg">47</default>
      </entry>
      <entry>
        <default id="name">Red Bull</default>
        <default id="mg">80</default>
      </entry>
      <entry>
        <default id="name">Monster</default>
        <default id="mg">160</default>
      </entry>
      <entry>
        <default id="name">Cola</default>
        <default id="mg">34</default>
      </entry>
      <entry>
        <default id="name">Dark Chocolate</default>
        <default id="mg">25</default>
      </entry>
      <entry>
        <default id="name">Pre-Workout</default>
        <default id="mg">200</default>
      </entry>
    </defaults>
  </setting>
</settings>
