<settings>
  <setting propertyKey="@Properties.dailyLimit"
           title="@Strings.SettingDailyLimit">
    <settingConfig type="numeric"
                   min="100"
                   max="1000"/>
  </setting>

  <setting propertyKey="@Properties.bedtimeHour"
           title="@Strings.SettingBedtimeHour">
    <settingConfig type="numeric"
                   min="0"
                   max="23"/>
  </setting>

  <setting propertyKey="@Properties.bedtimeMinute"
           title="@Strings.SettingBedtimeMinute">
    <settingConfig type="numeric"
                   min="0"
                   max="59"/>
  </setting>

  <setting propertyKey="@Properties.alertLimitWarning"
           title="@Strings.SettingAlertWarning">
    <settingConfig type="boolean"/>
  </setting>

  <setting propertyKey="@Properties.alertLimitReached"
           title="@Strings.SettingAlertReached">
    <settingConfig type="boolean"/>
  </setting>

  <setting propertyKey="@Properties.alertSafeToSleep"
           title="@Strings.SettingAlertSafe">
    <settingConfig type="boolean"/>
  </setting>

  <setting propertyKey="@Properties.theme"
           title="@Strings.SettingThemeTitle">
    <settingConfig type="list">
      <listEntry value="0">@Strings.ThemeNavy</listEntry>
      <listEntry value="1">@Strings.ThemeBlack</listEntry>
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.halfLifeHours"
           title="@Strings.SettingHalfLife">
    <settingConfig type="numeric"
                   min="3"
                   max="10"/>
  </setting>

  <setting propertyKey="@Properties.presets"
           title="@Strings.SettingPresetsTitle"
           maxLength="20">
    <setting title="@Strings.SettingPresetName" type="string">
      <settingConfig id="name" type="alphaNumeric"/>
    </setting>
    <setting title="@Strings.SettingPresetMg" type="number">
      <settingConfig id="mg" type="numeric" min="1" max="500"/>
    </setting>
  </setting>
</settings>
